@charset "utf-8";
@font-face {
	font-family: Quicksand;
	src: url('../fonts/Quicksand-Regular.woff') format('woff') ,
	   url('../fonts/Quicksand-Regular.ttf') format('truetype');
}
/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   CA2
   
   TSS Typographic Style Sheet
   Author: Song Han
   Date:   01/08/2023
   
   Filename: savetheearth.css

*/
/* HTML and Body Styles */

body{
	background: url(../images/paper.png) 100%/ cover no-repeat;/* https://fbcd.co/images/products/2f6b943924a0f5cfaf68a0a6cf6701a3_resize.jpg */
	
}

/* Heading Styles */
h1,h2,h3{
    font-family: Quicksand, Verdana , Geneva , sans-serif;
    letter-spacing: 0.1em;
}

aside h1{	
	text-shadow: rgba(21,21 ,21,0.66) 5px 5px 25px;
}


/* Aside and Blockquote*/
aside blockquote{
    quotes: "\201C" "\201D";
	box-shadow: rgba(51,91,51, 0.4) 0px 0px 20px 10px;
	background: radial-gradient(white, rgb(151,222,151), rgb(81,125,81));
	transition: all 0.3s;
}
aside blockquote:hover{
	transform: scale(1.1);
}

aside blockquote::before{
    content: open-quote;
	font-family: Quicksand, Verdana , Geneva , sans-serif;
    font-size: 1.5em;
}
aside blockquote::after {
    content: close-quote;
	font-family: Quicksand, Verdana , Geneva , sans-serif;
    font-size: 1.5em;
}

aside figure{
	border-style: solid;
	border-width: 20px;
	border-image: url(../images/frame.png) 50 repeat; /* https://pixabay.com/illustrations/frame-picture-frame-outline-corners-928206/ */
	
}
/*Figure styles for specific figures*/

figure.me{
    border-style: solid;
	border-width: 20px;
	border-image: url(../images/tb_border.png) 50 repeat; /* SP FED html04 tb_border.png */
	transform: rotate(-10deg);
	width: 90%;
}

figure.me figcaption{
	background-color: white;
}
figure.me img{
	filter: saturate(1.1) contrast(1.1);
}
figure.skies1{
	border-style: solid;
	border-width: 20px;
	border-image: url(../images/tb_border.png) 50 repeat; /* SP FED html04 tb_border.png */
	transform: rotate(10deg);
	width: 90%;
}

figure.skies2{
	border-style: solid;
	border-width: 20px;
	border-image: url(../images/tb_border.png) 50 repeat; /* SP FED html04 tb_border.png */
	transform: rotate(-10deg);
	width: 90%;
}
/* Specific CSS for certian itens */

.personalitytest{
	width: 70%;
	transition: all 0.3s;
}
.personalitytest:hover{
	transform: scale(1.1);
}

.words{
	font-family: Quicksand, Verdana , Geneva , sans-serif;
}
#carousel{
	overflow: hidden;
}
#spcarousel{
	overflow: hidden;
}
nav{
	font-family: Quicksand, Verdana , Geneva , sans-serif;
}
footer{
	font-family: Quicksand, Verdana , Geneva , sans-serif;
}

.card{
	transition: all 0.3s;
}
.card:hover{
	transform: scale(1.1);
}
#footerlogo{
	transition: all 0.5s;
}
#footerlogo:hover{
	transform: scale(1.5);
}
.spcircleimg{
	transition: all 0.3s;
}
.spcircleimg:hover{
	transform: scale(1.1);
}

